*{
    box-sizing: border-box;
    margin: 0;
}


body{
    font-family: Arial, Helvetica, sans-serif;
}

.nav{
    background-color: slateblue;
}

.nav__container{
    width:90%;
    margin:  0 auto;
    display: flex;
    align-items: center;
    height: 70px;
    gap:1em;
    max-width:1200px;
    color:#fff;
}

.nav__link{
    color:#fff;
    text-decoration: none;

}